
  <!--   Core   -->
  <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="/static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>

    <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>