
  <!--   Core   -->

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
  

    <!-- Production version -->
  <!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  
  <!--   Optional JS   -->
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.bundle.min.js"></script>
  <script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>

  <!--   G.Maps   -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->

  <!--   Argon JS   -->
  <script src="/static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>
  
  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>  
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

  <!-- datatables js -->
  <script src="/static/assets/js/plugins/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
  <script src="/static/assets/js/plugins/DataTables-1.10.23/js/dataTables.bootstrap4.min.js"></script>
  
  <!-- add Oswald accessibility plugin -->
  <script src="https://platform.oswaldlabs.com/v1/agastya/load/yescot-6cf95.js" async defer></script>

  <!-- just for now, can remove later -->
  <script src="/static/assets/js/plugins/jquery-validation-1.19.3/dist/jquery.validate.min.js"></script>
  <script>
    /**
     * Custom password validation
    */
  $.validator.addMethod("pwcheck", function(value) {
      return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
              && /[a-z]/.test(value) // has a lowercase letter
              && /[A-Z]/.test(value) // has a lowercase letter
              && /\d/.test(value) // has a digit
  },
  "Passwords must contain at least 1 upper and lower case letter as well as a digit. ");
  </script>

  <script>
    
    /**
     * Initalise Sweetalert plugin.
     * for displaying success messages
    */
    $(document).ready(function(){
      {% if notify %}
      Swal.fire({
        toast:true,
        position: 'top-end',
        icon: '{{notify.type}}',
        title: '<span>{{notify.title}}</span>',
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.addEventListener('mouseenter', Swal.stopTimer)
          toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
      });
      {% endif %}
    });
  </script>
  <script>
    $(document).ready(function () {
 
        $(".navbar-nav a").click(function (event) {
            var elem = $(this);
            if($(elem).text().trim()!="Help"){
              $(".active").removeClass("active");
              $(elem).addClass("active");
            }

            if($(elem).text().trim()=="Logout"){
              localStorage.removeItem("selectedolditem"); 
            }else{
              localStorage.setItem("selectedolditem", $(elem).text().trim());
            }
        });

        var selectedolditem = localStorage.getItem('selectedolditem');
        console.log(selectedolditem);
        if (selectedolditem !== null) {
            $("a:contains('" + selectedolditem + "')").addClass("active");
        }
        else{
          $(".active").removeClass("active");
          {% if perms.simulatorApp.is_team %}
            $("#nav_dashboard").addClass("active");
          {% else %}
            $("#nav_teams").addClass("active");
          {% endif %}
        }
    });
  </script>
 
