{% extends 'layouts/base.html' %}

{% block title %} Edit Policy Event {% endblock title %}

{% block content %}

<!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" 
         style="min-height: 600px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">{{ polObj.policy.name }}</h1>
            <p class="text-white mt-0 mb-5">This is the edit policy event page. Here you can edit the parameters of a market event's policies.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Policy Info</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
		<form method="POST" action="" id="event_form">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Policy Event Info</h6>
                <div class="pl-lg-4">

		<div class="row">
			<div class="col-lg-6">
				<label class="form-control-label" for="input-polOption">Variable</label>
			</div>
			<div class="col-lg-6">
				<label class="form-control-label" for="input-polOption">Value</label>
			</div>
		</div>

		<div class="row">
		    <div class="col-lg-6">
			<div class="form-group">
          		    <input type="text" id="input-lowcost" class="form-control-plaintext" readonly placeholder="Low Cost" 
      			value="Low Cost:">
                 	</div>
 		    </div>
		    <div class="col-lg-6">
			<div class="form-group">
			    <input type="number" id="lowcost" name="lowcost" value="{{polObj.low_cost}}" step="0.01" onchange="setTwoNumberDecimal">
			</div>
		    </div>	
		</div>

		<div class="row">	
		    <div class="col-lg-6">
			<div class="form-group">
          		    <input type="text" id="input-lowcustomers" class="form-control-plaintext" readonly placeholder="Low Customers" 
      			value="Low Customers:">
        		</div>
		    </div>
		    <div class="col-lg-6">
			<div class="form-group">
			    <input type="number" id="lowcustomers" name="lowcustomers" value="{{polObj.low_customer}}" step="0.01" onchange="setTwoNumberDecimal">
			</div>
		    </div>	
		</div>

		<div class="row">
		    <div class="col-lg-6">
			<div class="form-group">
          		    <input type="text" id="input-lowsales" class="form-control-plaintext" readonly placeholder="Low Sales" 
      			value="Low Sales:">
        	        </div>
		    </div>
		    <div class="col-lg-6">
			<div class="form-group">
			    <input type="number" id="lowsales" name="lowsales" value="{{polObj.low_sales}}" step="0.01" onchange="setTwoNumberDecimal">
			</div>
		    </div>	
		</div>

		<div class="row">
		    <div class="col-lg-6">
			<div class="form-group">
          		    <input type="text" id="input-medcost" class="form-control-plaintext" readonly placeholder="Medium Cost" 
      			value="Medium Cost:">
        		</div>
		    </div>
		    <div class="col-lg-6">
			<div class="form-group">
			    <input type="number" id="medcost" name="medcost" value="{{polObj.med_cost}}" step="0.01" onchange="setTwoNumberDecimal">
			</div>
		    </div>	
		</div>

		<div class="row">	
		    <div class="col-lg-6">
			<div class="form-group">
          		    <input type="text" id="input-medcustomers" class="form-control-plaintext" readonly placeholder="Medium Customers" 
      			value="Medium Customers:">
        		</div>
		    </div>
		    <div class="col-lg-6">
			<div class="form-group">
			    <input type="number" id="medcustomers" name="medcustomers" value="{{polObj.med_customer}}" step="0.01" onchange="setTwoNumberDecimal">
			</div>
		    </div>	
		</div>

		<div class="row">
		    <div class="col-lg-6">
			<div class="form-group">
          		    <input type="text" id="input-medsales" class="form-control-plaintext" readonly placeholder="Medium Sales" 
      			value="Medium Sales:">
        		</div>
		    </div>
		    <div class="col-lg-6">
		    	<div class="form-group">
			    <input type="number" id="medsales" name="medsales" value="{{polObj.med_sales}}" step="0.01" onchange="setTwoNumberDecimal">
			</div>
		    </div>	
		</div>

		<div class="row">	
		    <div class="col-lg-6">
			<div class="form-group">
          		    <input type="text" id="input-highcost" class="form-control-plaintext" readonly placeholder="High Cost" 
      			value="High Cost:">
        	  	</div>
		    </div>
		    <div class="col-lg-6">
			<div class="form-group">
			    <input type="number" id="highcost" name="highcost" value="{{polObj.high_cost}}" step="0.01" onchange="setTwoNumberDecimal">
			</div>
		    </div>	
		</div>

		<div class="row">
		    <div class="col-lg-6">
			<div class="form-group">
          		    <input type="text" id="input-highcustomers" class="form-control-plaintext" readonly placeholder="High Customers" 
      			value="High Customers:">
        		</div>
		    </div>
		    <div class="col-lg-6">
			<div class="form-group">
			    <input type="number" id="highcustomers" name="highcustomers" value="{{polObj.high_customer}}" step="0.01" onchange="setTwoNumberDecimal">
			</div>
		    </div>	
		</div>

		<div class="row">	
		    <div class="col-lg-6">
			<div class="form-group">
          		    <input type="text" id="input-highsales" class="form-control-plaintext" readonly placeholder="High Sales" 
      			value="High Sales:">
        		</div>
		    </div>
		    <div class="col-lg-6">
			<div class="form-group">
			    <input type="number" id="highsales" name="highsales" value="{{polObj.high_sales}}" step="0.01" onchange="setTwoNumberDecimal">
			</div>
		    </div>	
		</div>
            
    		<div class="row">
      		    <div class="col-lg-12">
					<div class="form-group">
						<button type="submit" class="btn btn-primary" name="editPolicy" value="true">Save</button>
					</div>
      		    </div>
			</div>
  		</div>
  		</form>

                <hr class="my-4" />
                <!-- Description -->
                
            </div>
          </div>
        </div>
      </div>

	{% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}