{% extends 'layouts/base.html' %}

{% block title %} Game Settings {% endblock title %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <span class="mask bg-gradient-default opacity-8"></span>
      <div class="container-fluid d-flex align-items-center">
          <div class="row">
              <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Game Settings</h1>
              <p class="text-white mt-0 mb-5">Use this page to edit the settings for the game. By setting the simulation start date to be in the future you can use the spare time to setup teams and accounts. These users can then set use the get used to the system before the first trading day begins.</p>
              </div>
          </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="row mt-2">
        <div class="col-lg-12">
          <div class="card shadow border-0">
            <div class="card-body py-4">
              <form method="POST" target="_self" id="game_form">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-2">
                          <div class="form-group">
                            <label class="form-control-label" for="start">Start Date</label>
                            <input type="date" id="start" name="start" class="form-control date" required value="{{start}}">
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="form-group">
                            <label class="form-control-label" for="start_time">Start Time</label>
                            <input type="time" id="start_time" name="start_time" class="form-control" required value="{{start_time}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-2">
                          <div class="form-group">
                            <label class="form-control-label" for="end">End Date</label>
                            <input type="date" id="end" name="end" class="form-control"  required value="{{end}}">
                          </div>
                        </div>
                        <div class="col-lg-2">
                          <div class="form-group">
                            <label class="form-control-label" for="end_time">End Time</label>
                            <input type="time" id="end_time" name="end_time" class="form-control" required value="{{end_time}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group mb-0 col-lg-12">
                          <label class="form-control-label" >Length of Trading Day</label>
                        </div>
                        <div class="form-group col-lg-2">
                          
                          <div class="input-group mb-2">
                            <input type="number" min="0" max="365" class="form-control" id="days" required name="days" value="{{days}}">
                            <div class="input-group-append">
                              <div class="input-group-text">days</div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group col-lg-2">
                          <div class="input-group mb-2 mr-sm-2">
                            <input type="time" step="1" class="form-control" id="time" required name="time" value="{{time}}">
                            <div class="input-group-append">
                              <div class="input-group-text">hh:mm:ss</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-productName">Product Name</label>
                            <input type="text" id="productName" name="productName" class="form-control" required value="{{productName}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="image">Image</label>
                            <input type="file" id="image" name="image" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input_price">Max Price</label>
                            <input type="number" step="0.0001" id="maxPrice" maxlength="12" name="maxPrice" required min=0 class="form-control" value="{{maxPrice}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input_price">Min Price</label>
                            <input type="number" step="0.0001" id="minPrice" maxlength="12" name="minPrice" required min=0 class="form-control" value="{{minPrice}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-price">Price Boundary 1</label>
                            <input type="number" step="0.0001" id="priceBoundary1" name="priceBoundary1" required min=0 class="form-control" value="{{priceBoundary1}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="input-price">Price Boundary 2</label>
                            <input type="number" step="0.0001" id="priceBoundary2" name="priceBoundary2" required min=0 class="form-control" value="{{priceBoundary2}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group mb-0">
                            <label class="form-control-label" for="marketOpen">Market Open</label>
                            <!-- <input type="checkbox" id="marketOpen" name="marketOpen" class="form-control" value="1"> -->
                          </div>
                          <div class="form-group">
                            <label class="custom-toggle">
                              <input type="checkbox" name="marketOpen" id="marketOpen" value="1" checked>
                              <span class="custom-toggle-slider rounded-circle" data-label-off="Closed" data-label-on="Open"></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="startQuizUrl">Start Quiz url</label>
                            <input type="url" id="startQuizUrl" name="startQuizUrl" required class="form-control" value="{{startQuizUrl}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-4">
                          <div class="form-group">
                            <label class="form-control-label" for="endQuizUrl">End Quiz url</label>
                            <input type="url" id="endQuizUrl" name="endQuizUrl" required class="form-control" value="{{endQuizUrl}}">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary" name="add_market" value="true">Save</button>
                          
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-group">
                            <button type="submit" class="btn btn-danger" name="delete_market" onclick="clicked(event)" value="true">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          {% include "includes/footer.html" %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  /**
   * This is jQuery not reactJS
  */
  $(document).ready(function(){

    $("#game_form").validate(
      {
        rules:{
          start:{
            required:true,
            
          },
        end:{
          required:true,  
        },
        start_time:{
          required:true
        },
        end_time:{
          required:true
        },
        lengthOfTradingDay:{
          required:true,
        },
        productName:{
          required:true,
        },
        maxPrice:{
          required:true,
        },
        minPrice:{
          required:true,
          
        },
        priceBoundary1:{
          required:true,        
        },
        priceBoundary2:{
          required:true,
        },

        submitHandler: function(form) {
          form.submit();
        }
        }
      });

    // $('#start').datetimepicker({
    //   format: 'dd-mm-yyyy hh:mm:ss',
    // });
    // $('#end').datetimepicker({
    //   format: 'dd-mm-yyyy hh:mm:ss',
    // });
  });

  // $(function () {
  //   $('#start').datepicker({
  //     format:"dd-mm-yyyy"
  //   });

  //   $('#end').datepicker({
  //     format:"dd-mm-yyyy"
  //   });
  // });

  function clicked(e) {
    if (!confirm('By pressing OK the simulator will be deleted, alongside all of its data.')){
      e.preventDefault();
    }
  }

</script>{% endblock javascripts %}

