{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <span class="mask bg-gradient-default opacity-8"></span>
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            {% if perms.simulatorApp.is_team  %}
            <div class="col-xl-8 col-lg-8">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col text-center">
                      <h1 class="card-title text-uppercase mb-0">{{team_obj.team_name}}</h1>
                      <span class="h2 font-weight-bold mb-0">{{product_name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-12">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Leaderboard Position</h5>
                      <span class="h2 font-weight-bold mb-0">{{team_obj.leaderboard_position}}</span>
                    </div>
                    <div class="col-auto">
                      {% if team_obj.leaderboard_position > 10 %}
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      {% else %}
                      <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                      {% endif %}
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p> -->
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-12">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Position Within School</h5>
                      <span class="h2 font-weight-bold mb-0">{{team_obj.school_position}}</span>
                    </div>
                    <div class="col-auto">
                      {% if team_obj.school_position > 10 %}
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      {% else %}
                      <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                      {% endif %}
                        <i class="fas fa-chart-bar"></i>
                      </div>
                    </div>
                  </div>
                  <!-- <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
                    <span class="text-nowrap">Since last week</span>
                  </p> -->
                </div>
              </div>
            </div>
            {% endif %}
            <!-- <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Sales</h5>
                      <span class="h2 font-weight-bold mb-0">924</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                    <span class="text-nowrap">Since yesterday</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Performance</h5>
                      <span class="h2 font-weight-bold mb-0">49,65%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-percent"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                    <span class="text-nowrap">Since last month</span>
                  </p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow pt-2">
            <canvas id="lineChart" ></canvas>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="form-group">
            <div class="card bg-gradient-default shadow pt-2 pb-3 pl-4 pr-4">
              <canvas id="pieChart" ></canvas>
            </div>
          </div>
          <div class="form-group">
            <div class="card bg-gradient-default shadow pt-2 pb-3 pl-4 pr-4">
              <canvas id="lineChartSmall" ></canvas>
            </div>
          </div>
          
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-12">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">News</h3>
                </div>
                <!-- <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div> -->
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush" id="news_table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Article Title</th>
                    <th scope="col">Contents</th>
                  </tr>
                </thead>
                <tbody>
                  {% for article in news_articles %}
                    <tr>
                      <th scope="row" width="40%">{{ article.market_event_title }} </th>
                      <td width="60%">{{ article.market_event_text }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  
{% if perms.simulatorApp.is_team %}
  
  <script>
    var x_data = ['Start']; 
    var y_data = [0];
    var other_data = [0];

    {% for entry in attribute_data %}
      x_data.push('{{entry.date}}'.slice(0,7));
      y_data.push({{entry.parameterValue}}.toFixed(2));
    {% endfor %}

    {% for entry in average_net_profit %}
      other_data.push({{entry.parameterValue__avg}}.toFixed(2));
    {% endfor %}

    var ctx = document.getElementById('lineChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: x_data,
          datasets: [{
              fill: false,
              label: '{{team_obj.team_name}} {{graph_title}}',
              data: y_data,
              backgroundColor: [
                  'rgba(50, 205, 50, 0.2)',
              ],
              borderColor: [
                  'rgba(50, 205, 50, 1)',
              ],
              borderWidth: 2
          },
          {
              fill: false,
              label: 'Other {{graph_title}}',
              data: other_data,
              backgroundColor: [
                  'rgba(249, 105, 14, 0.2)',
              ],
              borderColor: [
                  'rgba(249, 105, 14, 1)',
              ],
              borderWidth: 2
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true,
                      callback: function(value, index, values) {
                        if(value >= 0) {
                          return '£' + value;
                        } else {
                          return '-£' + value*-1;
                        }
                      }
                  }
              }],
              xAxes:[{
                ticks: {
                  autoSkip: true,
                }
              }]
          },
          legend: {
            display: true, 
            position: 'top',
          },
          title: {
            display: true,
            text: '{{graph_title}}',
            fontSize: 16
          },
        }
    });
  </script>
  <script>
    var ctx = document.getElementById('pieChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ['Other Teams','{{team_obj.team_name}}'],
          datasets: [{
              fill: false,
              label: '',
              data: [Number({{other_market_share}}).toFixed(2), Number({{team_market_share}}).toFixed(2)],
              backgroundColor: [
                  'rgba(249, 105, 14, 0.2)',
                  'rgba(50, 205, 50, 0.2)',
              ],
              borderColor: [
                  'rgba(249, 105, 14, 1)',
                  'rgba(50, 205, 50, 1)',
              ],
              borderWidth: 2
          }]
      },
      options: {
          title: {
            display: true,
            text: 'Market Share %',
            fontSize: 16
          },
          legend: {
            display: true, 
            position: 'top',
          }
      }
  });
  </script>
  <script>

    var x_data_small = ['Start']; 
    var y_data_small = [0];
    var other_data_small = [0];

    {% for entry in attribute_data_small %}
      x_data_small.push('{{entry.date}}'.slice(0,7));
      y_data_small.push({{entry.parameterValue}}.toFixed(0));
    {% endfor %}

    {% for entry in average_sales %}
      other_data_small.push({{entry.parameterValue__avg}}.toFixed(0));
    {% endfor %}

    var ctx = document.getElementById('lineChartSmall').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: x_data_small,
          datasets: [{
              fill: false,
              label: '{{team_obj.team_name}} {{graph_title_small}}',
              data: y_data_small,
              backgroundColor: [
                  'rgba(50, 205, 50, 0.2)',
              ],
              borderColor: [
                  'rgba(50, 205, 50, 1)',
              ],
              borderWidth: 2
          },
          {
              fill: false,
              label: 'Market Average {{graph_title_small}}',
              data: other_data_small,
              backgroundColor: [
                  'rgba(249, 105, 14, 0.2)',
              ],
              borderColor: [
                  'rgba(249, 105, 14, 1)',
              ],
              borderWidth: 2
          }]
      },
      options: {
          
          title: {
            display: true,
            text: '{{graph_title_small}}',
            fontSize: 16
          },
          scales:{
            xAxes:[{
                ticks: {
                  autoSkip: true,
                }
            }]
          }
        }
    });
  </script>
{% endif %}

  {% if fullscreen_popup %}
  <script>
    
    $(document).ready(function(){
      Swal.fire({
        title: '{{ fullscreen_popup.title }}',
        {% autoescape off %}
        {% if fullscreen_popup.is_quiz %}
        confirmButtonText: 'Take Quiz',
        {% else %}
        showCancelButton: true,
        confirmButtonText: 'Got It!',
        {% endif %}
        html: "{{ fullscreen_popup.body_text }}",
        {% endautoescape %}
        icon: '{{ fullscreen_popup.icon_class }}',
        
        
      }).then((result) => {
        if (result.isConfirmed) {

          let cookie = document.cookie
          let csrfToken = cookie.substring(cookie.indexOf('=') + 1)

          $.ajax({
            url: "{% url 'simulatorApp:index' %}",
            type: "POST",
            data: {
                mark_popup_as_read: "true",
                popup_id: "{{fullscreen_popup.id}}",
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
            },
            success: function (data) {
                console.log(data);
            },
            error: function (error) {
                console.log(error);
            }
          });

          {% if fullscreen_popup.is_quiz %}
           // open an empty window
          const tab = window.open('about:blank');
          // redirect user to quiz
          tab.location = '{{fullscreen_popup.url}}';
          tab.focus();
          {% endif %}
        }
      })
    });
    
  </script>
  {% endif %}
  <script>
    // refresh page every lengthoftradingday to check for market events
    setInterval("location.reload(true);", {{refresh_rate}}*100);
  </script>
{% endblock javascripts %}
