{% extends 'layouts/base.html' %}

{% block title %} Game Settings {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">


      <div class="row mt-2">
        <div class="col-lg-12">
          <div class="card shadow border-0">
            <div class="card-header border-0">
              <h3 class="mb-0">Game Settings</h3>
            </div>
            <div class="card-body py-4">
              <form action="{% url 'simulatorApp:gameSettings' %}" method="POST" id="edit-setting">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                  
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="start">Start Date</label>
                            <input type="datetime-local" id="start" name="start" class="form-control" placeholder="dd/mm/yyyy" >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="end">End Date</label>
                            <input type="datetime-local" id="end" name="end" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="lengthOfTradingDay">Length of Trading Day</label>
                            <input type="datetime" id="lengthOfTradingDay" name="lengthOfTradingDay" class="form-control" placeholder="Default 1 day">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="productName">Product Name</label>
                            <input type="text" id="productName" name="productName" class="form-control" placeholder="Product">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="prodImage">Image</label>
                            <input type="image" id="image" name="prodImage" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="maxPrice">Max Price</label>
                            <input type="number" step="any" id="maxPrice" name="maxPrice" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="minPrice">Min Price</label>
                            <input type="number" step="any" id="minPrice" name="minPrice" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="marketOpen">Market Open</label>
                            <input type="checkbox" id="marketOpen" name="marketOpen" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary" name="add_market" value="true">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/footer.html" %}
      
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
