{% extends 'layouts/base.html' %}

{% block title %} Manage Schools {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <span class="mask bg-gradient-default opacity-8"></span>
      <div class="container-fluid d-flex align-items-center">
          <div class="row">
              <div class="col-lg-7 col-md-10">
              <h1 class="display-2 text-white">Manage Schools</h1>
              <p class="text-white mt-0 mb-5">Use this page to setup, edit or delete Schools and their user accounts. Before creating a new school, check that there is a simulator setup for the school to be associated with.</p>
              </div>
          </div>
      </div>
  </div>
    <div class="container-fluid mt--7">

      <!-- Table -->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-body">
              <table class="table align-items-center table-flush w-100" id="schools">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">School</th>
                    <th scope="col">Edit Account</th>
                  </tr>
                </thead>
                <tbody>
                   {% for school in schools %}
                        <tr>
                            <th scope="row">
                                <div class="media align-items-center">
                                    <a href="#" class="avatar rounded-circle mr-3">
                                    <img alt="Image placeholder" src="/static/assets/img/brand/favicon.png">
                                    </a>
                                    <div class="media-body">
                                    <span class="mb-0 text-sm">{{school.school_name}}</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ni ni-settings-gear-65 text-blue"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-arrow">
                                      <a class="dropdown-item" href="{% url 'simulatorApp:viewSchoolAccount' %}?profile_id={{ school.user.id }}">Edit Account</a>
                                      <a class="dropdown-item text-danger" href="javascript:void(0)" onClick="delete_account({{school.user.id }});">Delete Account</a>
                                    </div>
                                  
                                </div>
                            </td>
                        </tr>
                   {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-12">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Add School</h3>
            </div>
            <div class="card-body py-4">
              <form action="{% url 'simulatorApp:viewSchools' %}" method="POST" id="add-team">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-12">
                    <h6 class="heading-small text-muted mb-4">User information</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Username</label>
                            <input type="text" id="input-username" name="username" class="form-control" placeholder="Username" >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-schoolname">School Name</label>
                            <input type="text" id="team-name" name="school_name" class="form-control form-control-alternative" placeholder="School name">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-username">Password</label>
                            <input type="password" id="input-password" name="password" class="form-control" >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label class="form-control-label" for="input-schoolname">Repeat Password</label>
                            <input type="password" id="repeat-password" name="repeat_password" class="form-control form-control-alternative">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary" name="add_school" value="true">Save</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script>
  $(document).ready(function(){
    $("#add-team").validate(
      {
        rules:{
          username:{
            required:true,
            minlength:2,
            maxlength:32
          }, 
          'team_name':{
            required:true,
          },
          password:{
            required:true,
            pwcheck:true,
            minlength:8,
            maxlength:32
          },
          'repeat_password':{
            required:true,
            equalTo: "#input-password"
          },
        },
        submitHandler: function(form) {
          form.submit();
        }
    });

    $(document).ready(function() {
      $('#schools').DataTable({
        "scrollX": true
      });
    });

  });

  function delete_account(id){
    let cookie = document.cookie;
    let csrfToken = cookie.substring(cookie.indexOf('=') + 1);

    Swal.fire({
      title: 'Delete School?',
      html: "This School and <strong>all</strong> of its teams will be permanently deleted!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: 'Yes, delete it!',
      focusCancel:true,
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "{% url 'simulatorApp:viewSchools' %}",
          type: "POST",
          dataType: 'json',
          data: {
              delete_school: "true",
              account_id:id
          },
          beforeSend: function (xhr) {
              xhr.setRequestHeader("X-CSRFToken", csrfToken);
          },
          success: function (data) {
            Swal.fire({
              icon: data['class'],
              title: data['title'],
              text: data['msg']
            });
            if (data['class'] == 'success'){
              setTimeout(function(){window.location.reload(false)}, 1500);
            }
          },
          error: function (error) {
              console.log(error);
          }
        });
      }
    })
  }
</script>
{% endblock javascripts %}
